*/__pycache__
*cpython*
*.egg*
venv
lightning_logs
outputs
graph
checkpoints
*.ckpt
Graph.gv
Graph.gv.pdf
logs
mlruns
forecast_comparison.mp4
timeseries.pt
timeseries_raw.npz
forecasts
mlflow
jobs
storage
mlflow_db
graphcast
saved_checkpoints
anemoi-core
config_gin
samples
commands
*.zarr
